# virtual env
.venv/

# python cache
__pycache__/
*.pyc
*.pyo

# env
.env

# IDE
.idea/
.vscode/

# alembic
alembic/versions/*.pyc

# local folders
production-control/

# macOS
.DS_Store

# frontend
camera-map-frontend/node_modules/
camera-map-frontend/dist/

# если вдруг есть node в корне
node_modules/
dist/api.log
